@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #ffff;
  background-color: #0f131d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@theme {
  /* Custom boje */
  --color-primary: #0f131d;
  --color-dark-blue: #3F94AC;
  --color-secondary: #101725;
  --color-tertiary: #1A1F28;
  --color-light-red: #FF4141;
  --color-light-blue: #68d2ff;
  --color-baby-yellow: #ebd065;
}
